* {
    background-color: #1F2937;
}

.footer {
    background-color: #1F2937;
    color: white;
}

.footer .header {
    display: inline;
    margin-left: 140px;
    font-size: 24px;
    color: #F9FAF8;
}

.footer .header2 {
    align-items: center;
    display: inline;
    margin-left: 20px;
    color: #E5E7EB;
    font-size: 18px;
}

.header-links {
    /* All links in box are 500px
    away from the header logo*/
    margin-left: 900px;
    margin-top: -17px;
    margin-right: 100px;
}

.left-footer {
    display: block;
    border-width: 300px;
    margin-left: 140px;
    margin-top: 200px;
    margin-right: 800px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.footer .placeholder {
    display: inline;
    float: right;
    border-radius: 40px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 180px;
    padding-left: 180px;
    margin-right: 100px;
    margin-top: -260px;
    background-color: black;
}

.sign-up {
    background-color: #3882F6;
    color:#E5E7EB;
    padding: 3px;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}

.information {
    background-color: #E5E7EB;
    margin-left: -20px;
    margin-right: -8px;
    /* Tiny space on the sides were the
    background color of  #1F2937 [the
    background color of the whole site]
    instead of #E5E7EB, desired color.
    Margins for information div to fix*/
    height: 500px;
}

.information .info-header {
    font-size: 36px;
    color: #1F2937;
    background-color: #E5E7EB;
    margin-top: 240px; 
    padding-top: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.info-placeholds {
    background-color: #E5E7EB;
    margin-top: 80px;
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-left: 55px;
}
.information .placeholder {
    background-color: #E5E7EB;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    border: 7px solid #000;
    border-radius: 30px;
    margin-left: 100px;
    display: flex;
}

.subtext-group {
    background-color: #E5E7EB;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    gap: 246px;
    margin-top: -10px;

}

.image-subtext {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    color: #1F2937;
    margin-bottom: 100px;
}

.quote-section {
    background-color: gray;
    padding-top: 200px;
    padding-bottom: 200px;
}

.single-quote {
    background-color: gray;
    white-space: initial;
}